.bg3 {
  background-image: url('https://img.freepik.com/premium-vector/startup-elements-hand-drawn-doodle-seamless-pattern_264223-760.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  
  .card {
    background-color: rgb(252, 219, 224);
    
  }
  
  .error-message {
    color: red;
  }
  