/* Welcome.css */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #343a40 !important;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1.2rem;
  }
  
  .custom-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  .qPanel {
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .ques {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .answer {
    margin-right: 10px;
  }
  
  .btn-group {
    margin-top: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #545b62;
  }
  .bg4 {
    background-image: url('https://img.freepik.com/premium-vector/seamless-pattern-with-daisy-flowers-cute-pastel-floral-background_650101-26.jpg?w=2000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
  }
  


  /* General table styling */
.styled-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #F3EAAF;
  color: black;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid  #F3EAAF;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
